.header-container {
    background-color: var(--white);
    width: 100%;
    border-bottom: 1px solid var(--very-light-pink);
    padding: 1rem 3rem;
    height: 15vh;
    position: sticky;
    top: 0;
    z-index: 15;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .navbar-container {
        display: flex;
        align-items: center;

        .menu-mobile-component {
            display: none;

            .menu-mobile-icon {
                width: 3rem;
                cursor: pointer;
            }

            .menu-mobile-dropdown {
                margin: 0;
                padding: 0;

                .menu-mobile-dropdown-ul {
                    position: fixed;
                    top: 15vh;
                    left: 0;
                    width: 100%;
                    flex-direction: column;
                    display: flex;
                    border-radius: 8px;
                    background-color: var(--white);
                    border: 1px solid var(--very-light-pink);
                    color: var(--very-light-pink);
                    padding: 5px 0;

                    .menu-mobile-dropdown-item {
                        font-size: 1.4rem;
                        border: 1px solid var(--white);
                        border-radius: 8px;
                        padding: 5px 10px;

                        .menu-mobile-dropdown-item-link {
                            color: var(--very-light-pink);

                        }

                        &:hover {
                            color: var(--hospital-green);
                            border: 1px solid var(--very-light-pink);

                            .menu-mobile-dropdown-item-link{
                               color: var(--black); 
                            }
                        }
                    }
                }
            }

        }

        .nav-brand {
            display: flex;

            .main-logo {
                width: var(--xlg-size);
            }
        }

        .nav-links {
            .links-item {
                color: var(--very-light-pink);
                font-size: 1.4rem;
                border: 1px solid var(--white);
                border-radius: 8px;

                &:hover {
                    color: var(--hospital-green);
                    border: 1px solid var(--very-light-pink);
                }
            }

        }

        .nav-login {
            justify-content: end;

            a {
                font-size: 1rem;
                font-weight: bolder;
                text-decoration: none;
                color: var(--black);
            }
        }

    }
}



@media (max-width: 576px) {

    .header-container {

        .navbar-container {



            .nav-brand {
                display: flex;
                align-items: center;

                .menu-mobile-component {
                    display: block;

                }

                .main-logo {
                    margin-left: 2rem;
                }
            }

            .nav-links {
                display: none;
            }

            .nav-login {
                justify-content: end;

                a {
                    display: none;
                    font-size: 1rem;
                    font-weight: bolder;
                    text-decoration: none;
                    color: var(--black);
                }
            }

        }
    }


}

.inactive {
    display: none;
}