.header-container {
    background-color: var(--white);
    width: 100%;
    border-bottom: 1px solid var(--very-light-pink);
    padding: 1rem 3rem;
    height: 15vh;
    position: sticky;
    top: 0;
    z-index: 15;

    .navbar-container {
        .nav-brand {
            img {
                width: var(--xlg-size);
            }
        }

        .nav-links {
            .links-item {
                color: var(--very-light-pink);
                font-size: 1.4rem;
                border: 1px solid var(--white);
                border-radius: 8px;

                &:hover {
                    color: var(--hospital-green);
                    border: 1px solid var(--very-light-pink);
                }
            }

        }

        .nav-login {
            justify-content: end;

            a {
                font-size: 1rem;
                font-weight: bolder;
                text-decoration: none;
                color: var(--black);
            }
        }

    }
}