.shopping-cart-container {
    border: 1px var(--very-light-pink) solid;
    background-color: var(--white);
    width: 360px;
    max-height: 85vh;
    position: fixed;
    top: 15vh;
    right: 0;
    padding: 0.4rem 2rem 1rem 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;


    .title-container {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 1.2rem 0;
        cursor: pointer;

        .title-container-backLogo {
            cursor: pointer;
        }

        .title-container-title {
            font-size: 1.4rem;
            color: var(--very-light-pink);
            font-weight: bold;
        }

        &:hover {
            .title-container-title {
                color: black;
            }
        }


    }

    .shopping-cart-list {
        overflow: auto;

        .shopping-cart {
            position: relative;
            display: flex;
            flex-direction: row;
            margin-bottom: 0.4rem;

            .shopping-cart-img {
                position: relative;
                margin: 0;
                padding: 0;

                img {
                    width: 12rem;
                    height: 6rem;
                    border-radius: 20px;
                    object-fit: cover;
                }

                .delete-icon {
                    position:absolute;
                    top: -0;
                    background-color: var(--white);
                    border: 1px var(--very-light-pink) solid;
                    border-radius: 50%;
                   
                    padding: 0.1rem 0.5rem;
                    color: var(--very-light-pink);
                    cursor: pointer;

                    &:hover{
                        color: red;
                        border: 1px solid red;
                    }

                }
            }

            .shopping-cart-info {
                width: 100%;
                display: flex;
                flex-direction: column;
                text-align: start;
                padding-left: 1rem;
                justify-content: space-evenly;

                .cart-info-title {
                    font-size: 1.2rem;
                    color: var(--very-light-pink);

                }

                .cart-info-price {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 24px 0 0;

                    .quantity-modifier {
                        display: flex;
                        padding: 0 2rem 0 1rem;
                        align-items: center;

                        .modifiers {
                            background-color: var(--text-input-field);
                            border: 1px var(--very-light-pink) solid;
                            border-radius: 8px;
                            width: 24px;
                            height: 24px;
                            padding: 0.4rem 0.8rem;
                            color: var(--very-light-pink);
                            cursor: pointer;

                            &:hover {
                                color: var(--black);
                                border: 1px solid var(--black);
                            }
                        }

                        .quantity-output {
                            padding: 0.4rem 0.8rem;
                            width: 24px;
                            height: 24px;
                            text-align: center;
                            font-size: 1rem;

                        }
                    }

                    .info-price {
                        font-weight: bolder;
                        font-size: 1.4rem;

                    }


                }

            }





            .product-detail-close {
                position: absolute;
                right: 0;
                top: 0;
                cursor: pointer;
                align-items: center;
                justify-items: center;

                p {
                    background-color: var(--text-input-field);
                    color: var(--very-light-pink);
                    border: 1px solid var(--very-light-pink);
                    border-radius: 50%;
                    width: 16px;
                    height: 16px;
                    font-size: 1rem;
                    display: flex;
                    justify-content: center;
                }

                &:hover {
                    p {
                        color: red;
                        border: 1px solid red;

                    }
                }
            }
        }
    }

    .my-order-content {
        display: flex;
        flex-direction: column;
        padding-top: 0.8rem;

        .order {
            border: 1px solid var(--very-light-pink);
            display: flex;
            align-items: center;
            justify-content: space-between;
            align-content: center;

            background-color: var(--text-input-field);
            border-radius: 8px;
            gap: 16px;
            margin-bottom: 1rem;
            padding: 16px 24px;

            .order-total-title {
                display: flex;
                flex-direction: column;

                span {
                    font-size: 1.4rem;
                    font-weight: bolder;
                }
            }

            .order-total-number {
                font-size: 1.4rem;
                text-align: end;
                font-weight: bolder;
            }
        }

        .primary-button {
            background-color: var(--hospital-green);
            border-radius: 8px;
            color: var(--white);
            width: 100%;
            font-size: 1.2rem;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            height: 40px;
        }
    }
}

.dd-aside-shopping-cart {
    display: none;
}