.item-detail-container {
    border-radius: 8px;
    border: 1px var(--very-light-pink) solid;
    background-color: var(--white);
    width: 36rem;
    height: 85vh;
    position: fixed;
    top: 15vh;
    right: 0;

    .product-cover {
        .close-button {
            border: 1px var(--very-light-pink) solid;
            width: 8px;
            height: 8px;
            background-color: var(--white);
            cursor: pointer;
            position: absolute;
            top: 12px;
            left: 24px;
            z-index: 10;
            padding: 16px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .product-image {
            width: 100%;
            height: 45vh;
            object-fit: cover;
            border-radius: 0 0 20px 20px
        }

    }

    .product-info {
        width: 100%;
        padding: 0.4rem 1.2rem;

        .product-info-first-line {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .product-info-price {
                font-weight: bold;
                font-size: 2rem;
            }

            .product-info-title {
                font-size: 1.6rem;
                color: var(--black);
            }


        }


        .product-info-description {
            color: var(--very-light-pink);
            font-size: 1.2rem;
        }
    }

    .product-checkout {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0.8rem 1.2rem;
        gap: 0.8rem;
        position: absolute;
        bottom:0;


        .modify-product {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .button-modify-quantity {
                background-color: var(--text-input-field);
                border: 1px var(--very-light-pink) solid;
                border-radius: 8px;
                padding: 0.4rem 2.8rem;
                color: var(--very-light-pink);
                font-size: var(--font-parrafo);
                cursor: pointer;
                &:hover{
                    color: var(--black);
                    border: 1px solid var(--black);
                }
            }

            .quantity-value {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: bold;
                font-size: var(--font-parrafo);

            }

        }

        .add-product {
            cursor: pointer;
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--hospital-green);
            border-radius: 8px;
            border: 1px var(--very-light-pink) solid;
            color: var(--white);
            font-size: var(--font-parrafo);
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

.dd-aside-description-product {
    display: none;
}

@media (max-width:576px) {

    .item-detail-container{
        width: 100%;
    }
    
}