.cart-widget-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;





    .navbar-shopping-cart {
        cursor: pointer;
        margin: 0 12px;
        position: relative;

        .img-for-cart {
            width: var(--md-size);
        }

        .number-over-cart {
            background-color: var(--hospital-green);
            color: var(--black);
            border-radius: 50%;
            padding: 2px;
            width: 16px;
            height: 16px;
            position: absolute;
            top: -14px;
            right: -10px;
            font-size: 1rem;
            font-weight: bold;
            display: flex;
            justify-content: center;

        }

        &:hover {
            .number-over-cart {

                background-color: var(--very-light-pink);
                color: var(--white);

            }
        }
    }
}