.usuario_widget {
    cursor: pointer;
    display: flex;
    align-items: center;

    p {
        color: var(--very-light-pink);
        font-size: 1.4rem;
        font-weight: 400;
    }

    img {
        width: var(--md-size);
    }
}